.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: right;
  align-items: center;
}

.popup-content {
  background-color: #070d19;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-top: 2px solid #313747;
  border-left: 2px solid #313747;
  width: 55.7%;
  height: 100%;
  color: white;
}
.Heading {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 0px 10px 30px;
  width: 100%;
  border-bottom: 2px solid #313747;
  /* Subject title-subheadline */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

  color: #959595;
}
.Heading span{
  padding-right: 630px;
}
.HeadingImage{
  cursor: pointer;
  height: 100%;
  width: fit-content;
}
.Heading img{
  cursor: pointer;
  height: 100%;
  width: auto;
}
.popup button {
  margin-top: 10px;
}
.Subheading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 0px 40px 25px;
  border-bottom: 2px solid #313747;
  /* caption */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #6a6e79;
}
.Subheading img {
  width: 40px;
  height: auto;
}
.RunID {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
}
.RunID label {
  background-color: #212b46;
  padding: 3px 5px 5px 20px;
}
.RunID img {
  z-index: 1;
  position: relative;
  left: 15px;
}
.RunID span {
  background-color: #212b46;
  padding: 3px 10px 5px 0px;
}
.CreatedAt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
}
.CreatedAt label {
  background-color: #212b46;
  padding: 3px 5px 5px 20px;
}
.CreatedAt img {
  z-index: 1;
  position: relative;
  left: 15px;
}
.CreatedAt span {
  background-color: #212b46;
  padding: 3px 10px 5px 0px;
}
